<div class="container">
  <div class="todo-filter">
    <span
      (click)="filterAll()"
      [ngClass]="{ 'todo-filter__active': selectedFilter == 'all' }"
      >All</span
    >
    <span
      (click)="filterActive()"
      [ngClass]="{ 'todo-filter__active': selectedFilter == 'active' }"
      >Active</span
    >
    <span
      (click)="filterCompleted()"
      [ngClass]="{ 'todo-filter__active': selectedFilter == 'completed' }"
      >Completed</span
    >
  </div>
  <!-- end .todo-filter -->
</div>
<!-- end .container -->
